# Xcode
build/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.perspectivev3
*.xcuserstate
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build output
*.ipa
*.dSYM.zip
*.dSYM
*.app
*.app.dSYM

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# SwiftPM
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode Playground
timeline.xctimeline
playground.xcworkspace

# Ignoring API key file
Google Gemini AI/GenerativeAI-Info.plist
